*.log
.DS_Store
node_modules
.cache
dist
.idea
storybook-static
.next

coverage
.now
.vscode
.vercel
.env.local
*.iml
target/
build/
.gradle
test-report.html
.eslint.report.json
.eslintcache
reports/
.kiro/settings/lsp.json